################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Trazabilidad_Modernizacion/node_modules
/Trazabilidad_Modernizacion/packages
/Trazabilidad_Modernizacion/TarjetasWeb.Core.Services.Interface/obj/Debug
/Trazabilidad_Modernizacion/Trazabilidad.Core.Domain/bin/Debug
/Trazabilidad_Modernizacion/Trazabilidad.Core.Interfaces/bin/Debug
/Trazabilidad_Modernizacion/Trazabilidad.Core.Interfaces/obj/Debug
/Trazabilidad_Modernizacion/Trazabilidad.Core.Repository/bin/Debug
/Trazabilidad_Modernizacion/Trazabilidad.Core.Repository/obj/Debug
/Trazabilidad_Modernizacion/Trazabilidad.Core.Services.Repository/bin/Debug
/Trazabilidad_Modernizacion/Trazabilidad.Core.Services.Repository/obj/Debug
/Trazabilidad_Modernizacion/Trazabilidad_Modernizacion/packages
/Trazabilidad_Modernizacion/WebSite/app/consultas/consultas.module.js.map
/Trazabilidad_Modernizacion/WebSite/app/consultas/consultas.module.js
/Trazabilidad_Modernizacion/WebSite/app/consultas/consultas.main.js.map
/Trazabilidad_Modernizacion/WebSite/app/consultas/consultas.main.js
/Trazabilidad_Modernizacion/WebSite/app/consultas/consultas.component.js.map
/Trazabilidad_Modernizacion/WebSite/app/consultas/consultas.component.js
/Trazabilidad_Modernizacion/WebSite/app/consultasPlasticos/consultasPlasticos.module.js.map
/Trazabilidad_Modernizacion/WebSite/app/consultasPlasticos/consultasPlasticos.module.js
/Trazabilidad_Modernizacion/WebSite/app/consultasPlasticos/consultasPlasticos.main.js.map
/Trazabilidad_Modernizacion/WebSite/app/consultasPlasticos/consultasPlasticos.main.js
/Trazabilidad_Modernizacion/WebSite/app/consultasPlasticos/consultasPlasticos.component.js.map
/Trazabilidad_Modernizacion/WebSite/app/consultasPlasticos/consultasPlasticos.component.js
/Trazabilidad_Modernizacion/WebSite/app/detallePlastico/detallePlastico.module.js.map
/Trazabilidad_Modernizacion/WebSite/app/detallePlastico/detallePlastico.module.js
/Trazabilidad_Modernizacion/WebSite/app/detallePlastico/DetallePlastico.main.js.map
/Trazabilidad_Modernizacion/WebSite/app/detallePlastico/DetallePlastico.main.js
/Trazabilidad_Modernizacion/WebSite/app/detallePlastico/DetallePlastico.component.js.map
/Trazabilidad_Modernizacion/WebSite/app/detallePlastico/DetallePlastico.component.js
/Trazabilidad_Modernizacion/WebSite/app/detalleTarjeta/detalleTarjeta.module.js.map
/Trazabilidad_Modernizacion/WebSite/app/detalleTarjeta/detalleTarjeta.module.js
/Trazabilidad_Modernizacion/WebSite/app/detalleTarjeta/detalleTarjeta.main.js.map
/Trazabilidad_Modernizacion/WebSite/app/detalleTarjeta/detalleTarjeta.main.js
/Trazabilidad_Modernizacion/WebSite/app/detalleTarjeta/detalleTarjeta.component.js.map
/Trazabilidad_Modernizacion/WebSite/app/detalleTarjeta/detalleTarjeta.component.js
/Trazabilidad_Modernizacion/WebSite/app/model/Grillas/PlasticosGrillaModel.js.map
/Trazabilidad_Modernizacion/WebSite/app/model/Grillas/PlasticosGrillaModel.js
/Trazabilidad_Modernizacion/WebSite/app/model/Estado.js
/Trazabilidad_Modernizacion/WebSite/app/model/detallePlasticoModel.js.map
/Trazabilidad_Modernizacion/WebSite/app/model/detallePlasticoModel.js
/Trazabilidad_Modernizacion/WebSite/app/model/Conversion.js.map
/Trazabilidad_Modernizacion/WebSite/app/model/Conversion.js
/Trazabilidad_Modernizacion/WebSite/app/model/ConsultaTarjetaModel.js.map
/Trazabilidad_Modernizacion/WebSite/app/model/ConsultaTarjetaModel.js
/Trazabilidad_Modernizacion/WebSite/app/model/ComboModel.js.map
/Trazabilidad_Modernizacion/WebSite/app/model/ComboModel.js
/Trazabilidad_Modernizacion/WebSite/app/model/SolicitudesModel.js
/Trazabilidad_Modernizacion/WebSite/app/model/Producto.js.map
/Trazabilidad_Modernizacion/WebSite/app/model/Producto.js
/Trazabilidad_Modernizacion/WebSite/app/model/PaginadorModel.js.map
/Trazabilidad_Modernizacion/WebSite/app/model/PaginadorModel.js
/Trazabilidad_Modernizacion/WebSite/app/model/ModalidadEntrega.js.map
/Trazabilidad_Modernizacion/WebSite/app/model/ModalidadEntrega.js
/Trazabilidad_Modernizacion/WebSite/app/model/Marca.js.map
/Trazabilidad_Modernizacion/WebSite/app/model/Marca.js
/Trazabilidad_Modernizacion/WebSite/app/model/Gaf.js.map
/Trazabilidad_Modernizacion/WebSite/app/model/Gaf.js
/Trazabilidad_Modernizacion/WebSite/app/model/Estado.js.map
/Trazabilidad_Modernizacion/WebSite/app/model/TipoSolicitudesmodel.js.map
/Trazabilidad_Modernizacion/WebSite/app/model/TipoSolicitudesmodel.js
/Trazabilidad_Modernizacion/WebSite/app/model/Sucursal.js.map
/Trazabilidad_Modernizacion/WebSite/app/model/Sucursal.js
/Trazabilidad_Modernizacion/WebSite/app/model/SolicitudesModel.js.map
/Trazabilidad_Modernizacion/WebSite/app/services/gaf.service.js.map
/Trazabilidad_Modernizacion/WebSite/app/services/gaf.service.js
/Trazabilidad_Modernizacion/WebSite/app/services/estado.service.js.map
/Trazabilidad_Modernizacion/WebSite/app/services/estado.service.js
/Trazabilidad_Modernizacion/WebSite/app/services/detallePlastico.services.js.map
/Trazabilidad_Modernizacion/WebSite/app/services/detallePlastico.services.js
/Trazabilidad_Modernizacion/WebSite/app/services/conversion.service.js.map
/Trazabilidad_Modernizacion/WebSite/app/services/conversion.service.js
/Trazabilidad_Modernizacion/WebSite/app/services/consultasPlasticos.service.js.map
/Trazabilidad_Modernizacion/WebSite/app/services/consultasPlasticos.service.js
/Trazabilidad_Modernizacion/WebSite/app/services/consultaPlastico.service.js.map
/Trazabilidad_Modernizacion/WebSite/app/services/consultaPlastico.service.js
/Trazabilidad_Modernizacion/WebSite/app/services/sucursal.service.js.map
/Trazabilidad_Modernizacion/WebSite/app/services/sucursal.service.js
/Trazabilidad_Modernizacion/WebSite/app/services/producto.service.js.map
/Trazabilidad_Modernizacion/WebSite/app/services/producto.service.js
/Trazabilidad_Modernizacion/WebSite/app/services/modalidadEntrega.js.map
/Trazabilidad_Modernizacion/WebSite/app/services/modalidadEntrega.js
/Trazabilidad_Modernizacion/WebSite/app/services/marca.service.js.map
/Trazabilidad_Modernizacion/WebSite/app/services/marca.service.js
/Trazabilidad_Modernizacion/WebSite/app/shared/Constantes.js.map
/Trazabilidad_Modernizacion/WebSite/app/shared/Constantes.js
/Trazabilidad_Modernizacion/WebSite/app/app.module.js
/Trazabilidad_Modernizacion/WebSite/app/app.main.js.map
/Trazabilidad_Modernizacion/WebSite/app/app.main.js
/Trazabilidad_Modernizacion/WebSite/app/app.component.js.map
/Trazabilidad_Modernizacion/WebSite/app/app.component.js
/Trazabilidad_Modernizacion/WebSite/app/app.module.js.map
/Trazabilidad_Modernizacion/WebSite/bin
/Trazabilidad_Modernizacion/WebSite/node_modules
/Trazabilidad_Modernizacion/WebSite/obj
/Trazabilidad_Modernizacion/.vs/Trazabilidad_Modernizacion/v15/Server/sqlite3/db.lock
/Trazabilidad_Modernizacion/.vs/Trazabilidad_Modernizacion/v16/Server/sqlite3/db.lock
