<div>
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close">&times;</button>
				<h4 class="modal-title">Más informaci&oacute;n </h4>
			</div>
			<div class="modal-body">
				<!--DETALLE DE TARJETA-->
				<div class="panel-group row" id="accordionDetallePrincipal" role="tablist" aria-multiselectable="true">
					<div class="panel panel-bancor">
						<div class="panel-heading active" role="tab" id="headingOne">
							<h4 class="panel-title">
								<span>Datos de la Tarjeta</span>
								<a role="button" data-toggle="collapse" data-parent="#accordionDetallePrincipal" href="#DetallePrincipal" aria-expanded="true" aria-controls="DetallePrincipal">
								</a>
							</h4>
						</div>
						<div id="DetallePrincipal" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="LabelTextBox">N&uacute;mero de BP:</label>
											<div>65543</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="LabelTextBox">Centro de Embozado:</label>
											<div>VLD - VALID</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="LabelTextBox">Fecha de Alta:</label>
											<div>21/10/2014</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="LabelTextBox">Sucursal de Radicación:</label>
											<div>354 - VILLA MARÍA</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="LabelTextBox">Fecha Distribución:</label>
											<div>05/09/2019</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="LabelTextBox">GAF:</label>
											<div>460 - CORDOBA CELESTE</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-group row" id="accordionDetalleSolicitud" role="tablist" aria-multiselectable="true">
					<div class="panel panel-bancor">
						<div class="panel-heading active" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<span>Datos de la Solicitud</span>
								<a role="button" data-toggle="collapse" data-parent="#accordionDetalleSolicitud" href="#DetalleSolicitud" aria-expanded="true" aria-controls="DetalleSolicitud">
								</a>
							</h4>
						</div>
						<div id="DetalleSolicitud" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div>
									<div class="row">
										<div class="col-md-12">
											<input type="button" value="Imprimir Solicitud" class="Boton-lg" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		
			</div>
		</div>
	</div>
</div>