@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    System.import('consultasPlasticos').catch(function (err) { console.error(err); });
</script>
<div class="container-xl">
    <consultasPlasticos-component>

    </consultasPlasticos-component>
</div>