
@{
    ViewBag.Title = "Index";
}

<script>
    System.import('seguimiento').catch(function (err) { console.error(err); });
</script>
<div class="container-xl">
    <seguimiento-component>

    </seguimiento-component>
</div>