.header {
    color: #fff;
    background: #007D57;
}

.buttonImprimir {
    margin-left: 50px;
}

.inputNrmTarejeta {
    background: #fff;
}
.colum {
    width: 130px;
    height: 300px;
}
.inputNrmTarejeta {
    margin-left: -50px;
    background: #fff;
}

.Body {
    color: #fff;
    background: #ed969e;
}