<div class="row">
	<div class="col-md-3 col-sm-3 hidden-xs" style="margin-left:-16px;">
		<img src="/Content/Imagenes/logoCordobesa.png" class="logoCordobesa" />
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6" style="text-align:center; margin-top:10px;">
		<span class="Titulo inner-element" style="padding-top:15px;">Solicitud de Tarjetas de Cr&eacute;dito</span>
	</div>
	<div class="col-md-3 hidden-xs col-sm-3">
		<div style="padding-top:15px;text-align: right;">
			<div>
				<span class="hidden-sm">Promotor: </span><span>{{model.Usuario}} - {{model.UsuarioNombre}}</span>
			</div>
			<div>
				<span class="hidden-sm">Sucursal: </span><span>{{model.Sucursal}}</span>
			</div>

		</div>
	</div>
</div>