<br />
<br />
<div align="center">
    <h4 class="Titulo">Seguimiento de tarjeta  </h4>
</div>

<br />
<br />

<div class="panel panel-bancor">
    <div class="panel-heading">
        <h4 class="panel-title">
            <span></span>
        </h4>
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-2 panel-title">
        <p>Nrm de Tarjeta  </p>
    </div>
    <div class="col-md-10">
        <input value="XXXXXXXXXXXX6151" type="text" disabled />
    </div>
</div>


<br /> <br />

    <table class="table table-bordered">
        <thead>
            <tr style="color: #fff; background: #007D57;text-align: center;">
            
                <th>Fecha</th>
                <th>Estado</th>
                <th>Usuario</th>
                <th>Observaciones </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>

        </tbody>
    </table>


    <div  class="text-center">
        <button type="button" class="btn btn-light btninter">Cerrar </button>
        <button type="button" class="btn btn-light btninter right">Imprimir </button>
        </div>
